[submodule "Computer-Programming"]
	path = Computer-Programming
	url = https://github.com/Itsbeenalongday/Computer-Programming.git
[submodule "Data-Structure"]
	path = Data-Structure
	url = https://github.com/Itsbeenalongday/Data-Structure.git
[submodule "OOP"]
	path = OOP
	url = https://github.com/Itsbeenalongday/Object-oriented-programming.git
[submodule "Algorithm"]
	path = Algorithm
	url = https://github.com/Itsbeenalongday/Algorithm.git
[submodule "University"]
	path = University
	url = https://github.com/Itsbeenalongday/University.git
[submodule "Introduction-to-Creative-Software"]
	path = Introduction-to-Creative-Software
	url = git@github.com:ZeroOnePro/Introduction-to-Creative-Software.git
